.btn-group ,
.dropdown-group {
    width: auto;
    white-space: normal;
    display: inline-block;
}

.btn-group {
    height: 22px;
    margin-top: 2px;
    margin-left: 5px;
}

.btn-subgroup {
    display: inline-block;
    float: left;
}

.btn-group button,
.dropdown-group button {
    position: relative;
    display: block;
    float:left;
    text-align: left;
    /*vertical-align: middle;*/
    font-family: 'Milonga','Arial';
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    height: 26px;
    width: auto;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);*/
    left: 0;
    margin: 0;
    margin-left: 4px;
    padding: 4px;
    outline: none !important;
    border: none;
    color: black;
    background-color: transparent;
    
}

.dropdown-group button {
    font-size: 22px;
    color: orange;
    color: #dab390;
}

.dropdown-group button:hover {
    cursor: pointer;
    color: orange;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.btn-group input[type="text"] {
    width: 4em;
    height: 22px;
    padding: 0;
    margin: 0;
    border-color: gray;
    margin-top: 2px;
    margin-left: 5px;
    padding-left:2px;
}

.btn-group button:hover {
    background:  lavender;
    cursor: pointer;
}

.btn-group button::-moz-focus-inner,
.dropdown-group button::-moz-focus-inner {
  border: 0;
}

.dropdown {
    float: left;
    position: relative;
    display: block;
    width: auto;
}

.btn-group img,
.dropdown img {
    position: relative;
    vertical-align: middle;
    top: -1px;
    height:22px;
}    

.dropdown [data-toggle="toggle"] {
    float:right;
    position:  relative;
    display: block;
    top: 1px;
    right: 0px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.dropdown-menu {
    z-index: 101;
    max-height: 0;
    position:absolute;
    display:  block;
    top:100%;
    left: 6px;
    margin: 0;
    margin-top: 1px;
    margin-left: 8px;
    min-width: fit-content;
    -moz-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    -webkit-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
    cursor: pointer;
    box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -ms-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -o-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    font-family: 'AllertaStencil', 'RobotoItalic';
    font-weight: normal;
    font-size: 18px;
    font-style: italic;
    white-space: nowrap;
    color: orange;
    color: #dab390;
    background: #2c3e50;
    overflow: hidden;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu hr {
    margin: 5px;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid orange;
}

.dropdown li {
    padding: 4px;
    line-height: 16px;
}

.dropdown-menu .hover {
    background: #f6f6f6;
    background: lightblue;
    background: lavender;
}

.dropdown-menu .selected {
    background:  lavender !important;
}


.dropdown-menu li a {
    display:  block;
    padding: 2px 6px 2px 6px;
}


.dropdown > input[type="checkbox"] {
    display: none;
}

.dropdown > input[type="checkbox"]:checked ~ button > [data-toggle="toggle"] {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.dropdown > input[type="checkbox"]:checked ~ [data-toggle="toggle-menu"] {
    max-height: 300px;
    display:  block;
    top:100%;
    left: 6px;
    padding: 0;
    margin: 0;
    margin-top: 1px;
    margin-left: 8px;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.rounded-corners {
    border: 2px solid;
    padding: 5px;
    padding-top: 8px;
    margin: 0;
    border-radius: 5px;
 }

.rounded-corners > h1 {
    background:white;
    position: absolute;
    width:fit-content;
    left: 8px;
    top: -28px;
    font-size: 20px;
    padding: 0 5px 0 5px;
}  